.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: -40vh;
}

.login-field {
  width: 450px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "TheSansOsF";
  font-size: 12px;
}

.login-button {
  width: 150px;
  margin-left: 45%;
  margin-top: 10px;
}

.login-button:hover {
  position: relative;
  top: 2px;
  left: 2px;
}

.button {
  width: 100px;
  margin-top: 10px;
}
.button:hover {
  position: relative;
  top: 2px;
  left: 2px;
}

.welcome {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  font-family: "TheSansOsF black", sans-serif;
  font-size: 120px;
  line-height: 72px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.dove {
  position: absolute;
  height: 400px;
  right: 40px;
  top: 40vh;
}
